django==5.2.8
djangorestframework==3.16.1
neo4j==6.0.3
pytest-django==4.11.1
django-crontab==0.7.1
drf-spectacular==0.29.0
django-cors-headers==4.9.0
python-dotenv==1.2.1
firebase-admin==6.1.0
python-dotenv

